DATABASE_URL="postgresql://postgres:[YOUR_PASSWORD]@db.hurtplodqbzdyrwlnqyj.supabase.co:5432/postgres"
OPENROUTER_API_KEY=""
GITHUB_PAT=""
SUPABASE_URL="https://hurtplodqbzdyrwlnqyj.supabase.co"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE=""
